:root {
  --li-indent:40px;
}

ul {
  padding-left: var(--li-indent);
}

.ul-aligned-para {
  padding-left: var(--li-indent);
}

.map-container-with-toggle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  padding: 0px;
  margin: auto;
  font-size: 0;
  float: right;
}

.map {
  position: absolute;
  border: 1px solid #2aa198;
}

.tile {
  border: 0px;
  padding: 0px;
  font-size: 0;
  width: 256px;
  height: 256px;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.annotation {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #2aa198;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-label {
  font-size: 16px;
}

.toggle {
  transform: scale(2.5);
  margin: 10px;
}

/* desktop site */
@media(hover: hover) and (pointer: fine) {
  .annotation:hover::after {
    content: attr(data-label);
    position: absolute;
    left: 12px;
    top: -5px;
    background: white;
    color: black;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .toggle-label::after {
    content: "Hide Map";
  }
  
  .toggle:checked ~ .map-container {
    display: none;
  }
}

/* mobile site */
@media(hover: none) or (pointer: coarse) {
  /* instead of on hover (which phones can't do), just show all the time */
  .annotation::after {
    content: attr(data-label);
    position: absolute;
    left: 12px;
    top: -5px;
    background: white;
    color: black;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .toggle-label::after {
    content: "Show Map";
  }

  .map-container {
    display: none;
  }
  
  .toggle:checked ~ .map-container {
    display: block;
  }
}
