body {
    background-color: #eee8d5;
    color: #002b36;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Recursive', monospace;
    font-size: 18px;
}

a:link {
    color: #2aa198;
}
a:visited {
    color: #d33682;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #002b36;
    color: #eee8d5;
  }
}
